// @import "_defaults";
@import "_snippets";

$main: #264653;
$secondary: #2a9d8f;
$accent1: #e9c46a;
$accent2: #f4a261;
$accent3: #e76f51;

// =============MEDIA QUERY MIXIN SETUPS================
// 900PX
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
// 1200PX
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
// 1400PX
@mixin for-big-desktop-up {
    @media (min-width: 1400px) {
        @content;
    }
}

// =====================COMMON ELEMENTS================

// ensures images are never larger than parent element
img {
    max-width: 100%;
}

// MOBILE ORIENTED WRAPPER
.wrapper {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;

    @include for-tablet-landscape-up{
        max-width: 85%;
    }

    @include for-desktop-up(){
        max-width: 75%;
    }

    @include for-big-desktop-up(){
        max-width: 1000px;
    }
}


p {
    line-height: 20px;
    letter-spacing: 1px;
}

// min-width: 450px; TO LOOK GOOD ON 480PX SCREEN
body {
    background: $accent1;
    padding-top: 60px;
    color: $main;
    min-width: 450px;
    font-family: "Lora", serif;
}

// GOOD DOWN TO 480PX WIDE
nav {
    height: 60px;
    background-color: $main;
    font-family: "Roboto", sans-serif;

    border: 4px solid $secondary;
    border-left: 0;
    border-right: 0;

    min-width: 450px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;

    //NEEDED TO MAKE NAVBAR SLIDE UP/DOWN AS SCROLLING
    transition: top 0.2s linear;

    .wrapper {
        min-width: 450px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        color: $accent2;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .on-page {
        color: $accent1;
    }
}

section,
footer {
    background-color: $accent2;
    padding: 20px 0;
}

section:nth-child(even):not(.demos section) {
    background: $accent1;
    color: $main;
}

h1 {
    letter-spacing: 1px;
    font-weight: normal;
}

.bold {
    letter-spacing: 2px;
    font-weight: bold;
}

i {
    font-size: 60px;
}

.icon-container {
    transition: background-color 0.25s linear;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10%;
}

.icon-container:hover,
.icon-container:focus {
    background-color: rgba(255, 255, 255, 0.4);
    // border: rgba(0, 0, 0, 0.2) 1px solid;
    // WILL ADD MORE PX AND CAUSE SHIFTING EFFECT
}

.skills {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

        h2:nth-child(even) {
            margin-top: 30px;
            font-style: italic;
        }

        h2:nth-child(even):after {
            left: -30px;
            right: 0;
            max-width: 230px;
            background: $accent1;
        }
    }

    h2 {
        grid-column: 1/-1;
        text-align: center;
        position: relative;
        transition: transform 0.2s linear;
    }

    h2:hover {
        transform: scale(1.1);
    }

    h2:after {
        position: absolute;
        content: "";
        height: 5px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        bottom: -5px;

        margin: 0 auto;
        left: 30px;
        right: 0;
        max-width: 270px;
        background: $secondary;
    }

    h4 {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        color: $secondary;
    }
}

a {
    color: $main;
    text-decoration: none;
}

.demos{

    .wrapper:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } 

    section:nth-child(odd){
        align-self: flex-start;
    }
}

section.demo {
    
    width: 100%;
    background-color: $accent1;
    border: 2px solid $main;
    border-radius: 12px;
    padding: 0 15px 15px 15px;
    margin-bottom: 15px;
    transition: width 0.3s ease-in;

    @include for-desktop-up{
        margin-bottom: 25px;
    }

    @include for-big-desktop-up{
        width: 80%;
    }
    
    a:not(button a) {
        border-bottom: 2px solid $secondary;
        font-style: italic;
        font-weight: bold;
    }

}

.personal {
    img {
        border: 6px solid $main;
        border-radius: 50%;
        width: 40%;
        max-height: 250px;
        max-width: 250px;

        @include for-tablet-landscape-up{
            width: 60%;
        }
    }

    p {
        margin: 0;
        // margin-left: 10px;
        // padding: 5px 10px 0 0;
    }
}

footer {
    .wrapper {
        color: $secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul,
    h3,
    p {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        list-style-type: none;
        margin-right: 10px;
    }
    a {
        color: $secondary;
    }

    p {
        margin-top: 50px;
        display: block;
        text-align: center;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        margin-top: 20px;
    }
}

button {
    background-color: $secondary;
    padding: 0 10px;
    border: $main solid 2px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.2s linear;
}

.grey-out {
    // background-color: grey;
    background-image: linear-gradient(168deg, grey 50%, darkgrey 50%);
    a {
        cursor: default;
        pointer-events: none;
    }
}

button:not(.grey-out):hover {
    background-color: $main;
    border-color: $secondary;
    a {
        color: $secondary;
    }
}
